# files to ignore at all levels
*.un~
.DS_Store
.idea
.pulse-cookie
.sonarlint/telemetry/vscode/usage
.sudo_as_admin_successful
adobeconnectapp.log

# hidden files to ignore at top level
/.CFUserTextEncoding
/.ICEauthority
/.VirtualBox
/.Xauthority
/.Xclients
/.android
/.atom
/.aws
/.azure
/.bash_history
/.bash_sessions
/.bashrc
/.bashrc-local*
/.bashrc_local*
/.bundle
/.cache
/.cdk
/.config/*
/.cups
/.dbus
/.dlv
/.docker
/.dropbox
/.eclipse
/.esd_auth
/.fly
/.fossil
/.gem
/.git-for-windows-updater
/.gitconfig
/.gitignore_global
/.gnupg
/.gradle/
/.gtk-bookmarks
/.history
/.hushlogin
/.icons
/.irb-history
/.irb_history
/.java
/.kshrc
/.landscape
/.lesshs?
/.local
/.mgem
/.mirb_history
/.mkshrc
/.motd_shown
/.mozilla
/.netrc
/.npm
/.nvm*
/.pgadmin
/.pki
/.profile
/.profile-local*
/.profile_local*
/.python_history
/.rbenv
/.rvm
/.shrc
/.shrc-local*
/.shrc_local*
/.sonarlint
/.ssh
/.steam
/.steampath
/.steampid
/.terraform.d
/.themes
/.tox
/.usr/*
/.vagrant.d
/.vim/*
/.viminfo
/.vscode-oss
/.vscode-server
/.wget-hsts
/.wine
/.xsession-errors*
/.yarnrc
/.zcompcache
/.zcompdump
/.zsh
/.zsh_history
/.zsh_sessions
/.zshrc
/.zshrc-local*
/.zshrc_local*

# files to ignore at top level
# General
/AdobeConnectAppCache
/bin
/Desktop
/dev
/Documents
/dotfiles
/Downloads
/go
/Music
/Pictures
/Public
/Sync
/Templates
/tmp
/Videos

# Apple macOS
/.Trash
/Applications
/Library
/Movies

# MS Windows
/_netrc
/3D\ Objects
/AppData
/Application\ Data
/Contacts
/Cookies
/Favorites
/Gaming
/houdini*
/Links
/Local\ Settings
/My\ Documents
/NetHood
/Nt
/NTUSER.*
/OneDrive
/PrintHood
/Recent
/Saved\ Games
/Searches
/SendTo
/Start\ Menu
/VirtualBoxVMs
