# files to ignore at all levels
*.un~
.DS_Store
.idea
.pulse-cookie
.sonarlint/telemetry/vscode/usage
.sudo_as_admin_successful
adobeconnectapp.log

# hidden files to ignore at top level
/.CFUserTextEncoding
/.ICEauthority
/.VirtualBox
/.Xauthority
/.Xclients
/.android
/.asdf/
/.atom
/.aws
/.azure
/.bash_history
/.bash_sessions
/.bashrc
/.bashrc-local*
/.bashrc_local*
/.bundle
/.cache
/.cdk
/.chezscheme_history
/.config/*
/.conky/
/.cups
/.dbus
/.dlv
/.dmrc
/.docker
/.dropbox
/.eclipse
/.emulator_console_auth_token
/.esd_auth
/.expo/
/.fehbg
/.fluxbox/
/.fly
/.fonts/
/.fossil
/.gem
/.git-for-windows-updater
/.gitconfig
/.gitignore_global
/.gkrellm2/
/.gnupg
/.gradle/
/.gtk-bookmarks
/.gtkrc-2.0*
/.history
/.hushlogin
/.icons
/.ideskrc
/.idesktop/
/.inputrc
/.irb-history
/.irb_history
/.java
/.kotlinc_history
/.kshrc
/.landscape
/.lemminx
/.lesshs?
/.local
/.mgem
/.mirb_history
/.mkshrc
/.motd_shown
/.mozilla
/.netrc
/.npm
/.nvm*
/.ollama
/.pgadmin
/.pki
/.profile
/.profile-local*
/.profile_local*
/.psql_history
/.python_history
/.rbenv
/.rdbg_history
/.restore/
/.rpmdb/
/.rvm
/.shrc
/.shrc-local*
/.shrc_local*
/.sonarlint
/.ssh
/.steam
/.steampath
/.steampid
/.terminfo
/.terraform.d
/.themes
/.tool-versions
/.tox
/.usr/*
/.vagrant.d
/.viminfo
/.vscode-oss
/.vscode-server
/.wget-hsts
/.wine
/.xsession-errors*
/.yarnrc
/.zcompcache
/.zcompdump
/.zsh
/.zsh_history
/.zsh_sessions
/.zshrc
/.zshrc-local*
/.zshrc_local*

# files to ignore at top level

# General
/AdobeConnectAppCache
/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/Sync
/Templates
/Videos
/bin
/dev
/dotfiles
/go
/mbox
/nohup.out
/tmp

# Apple macOS
/.Trash
/Applications
/Library
/Movies

# MS Windows
/3D\ Objects
/AppData
/Application\ Data
/Contacts
/Cookies
/Favorites
/Gaming
/Links
/Local\ Settings
/My\ Documents
/NTUSER.*
/NetHood
/Nt
/OneDrive
/PrintHood
/Recent
/Saved\ Games
/Searches
/SendTo
/Start\ Menu
/VirtualBoxVMs
/_netrc
/houdini*

