# XXX: double entries with and without a slash are to account for possible
# symlinks pointing to directories, instead of true directories.

# hidden files to ignore at all levels
.DS_Store
.idea/
.pulse-cookie
.sonarlint/telemetry/vscode/usage
.sudo_as_admin_successful

# hidden files to ignore at top level
/.atom/
/.aws
/.aws/
/.azure
/.azure/
/.bash_history
/.bash_sessions/
/.bashrc_local
/.bashrc_local.sh
/.bashrc-local.sh
/.bundle/
/.cache/
/.CFUserTextEncoding
/.config/
/.dbus/
/.dlv/
/.docker/
/.eclipse/
/.esd_auth
/.fossil
/.git-for-windows-updater
/.gitconfig-local.ini
/.gnupg/
/.gtk-bookmarks
/.history
/.ICEauthority
/.icons/
/.irb_history
/.java/
/.landscape/
/.lesshs?
/.local/
/.mgem/
/.mirb_history
/.motd_shown
/.mozilla/
/.netrc
/.npm/
/.nvm/
/.nvmrc
/.pki/
/.profile_local
/.profile_local.sh
/.profile-local.sh
/.python_history
/.rbenv/
/.shrc_local
/.shrc_local.sh
/.shrc-local.sh
/.sonarlint/
/.ssh/
/.steam/
/.steampath
/.steampid
/.themes/
/.tox/
/.vagrant.d/
/.vim/.netrwhist
/.viminfo
/.VirtualBox/
/.vscode-oss/
/.vscode-server/
/.wget-hsts
/.wine/
/.Xauthority
/.Xclients
/.xsession-errors*
/.zcompcache/
/.zcompdump
/.zsh_history
/.zsh_sessions/
/.zsh/
/.zshrc_local
/.zshrc_local.sh
/.zshrc-local.sh

# files to ignore at top level
# General
/bin/
/Desktop/
/dev/
/Documents
/Documents/
/dotfiles/
/Downloads
/Downloads/
/go/
/Music/
/Pictures/
/Public/
/Sync
/Sync/
/Templates/
/tmp/
/Videos/

# Apple macOS
/Applications/
/Library/
/Movies/
/.Trash/

# MS Windows
/_netrc
/3D Objects/
/AppData/
/Contacts/
/Favorites/
/houdini*/
/Links/
/Nt
/NTUSER.*
/OneDrive/
/Saved Games/
/Searches/
/VirtualBoxVMs/
