#!/bin/sh

# Source our environment. For example, this makes sure applications like dmenu
# see our customized PATH pointing to executables in our home directory, and so
# on. Otherwise we just get the basic default PATH set up by the system.
. "$HOME/.profile"

# force certain XDG based applications to think we are in XFCE so they look and behave more nicely.
# https://www.reddit.com/r/i3wm/comments/6in8m1/did_you_know_xdg_current_desktop/
export XDG_CURRENT_DESKTOP="${SESSION}"

# Force similar themes and colors in both GTK and Qt
export GTK_THEME="Adwaita:dark"
export QT_STYLE_OVERRIDE="Adwaita-Dark"
# export QT_QPA_PLATFORMTHEME='qt5ct'
export XCURSOR_SIZE=48

sysresources=/usr/local/etc/X11/xinit/.Xresources
sysmodmap=/usr/local/etc/X11/xinit/.Xmodmap
userresources=$HOME/.Xresources
usermodmap=$HOME/.Xmodmap
xprofilelocal=$HOME/.xprofile_local.sh

# merge in defaults and keymaps

if [ -f $sysresources ]; then
  xrdb $sysresources
fi

if [ -f $sysmodmap ]; then
  xmodmap $sysmodmap
fi

if [ -f "$userresources" ]; then
  xrdb "$userresources"
fi

if [ -f "$usermodmap" ]; then
  xmodmap "$usermodmap"
fi

if [ -f "$xprofilelocal" ]; then
  # shellcheck disable=SC1090 # Allow sourcing non-constant.
  . "$xprofilelocal"
fi

# set the background to pure black
xsetroot -solid black &

# start some nice programs
dex --autostart --environment "$XDG_CURRENT_DESKTOP"
