# folders to include under .config
!/dunst/
!/fzf/
!/ghostty/
!/i3/
!/i3status/
!/jrnl/
!/neovide/
!/nvim/
!/ripgrep/
!/gtk-3.0/
!/gtk-4.0/

# files to include under .config
!/stylua.toml
!/user-dirs.dirs
