# folders to include under .config
!/dunst/
!/fzf/
!/ghostty/
!/gtk-3.0/settings.ini
!/gtk-4.0/settings.ini
!/i3/
!/i3status/
!/jrnl/
!/neovide/
!/nvim/
!/ripgrep/

# files to include under .config
!/stylua.toml
!/user-dirs.dirs
