[Desktop Entry]
Name=Logout
Exec=/home/eestrada/.dotfile_misc/bin/simple_logout.sh --ask
Terminal=false
Type=Application
Icon=system-log-out-symbolic
Comment=Logout of X11 session
Categories=System;
