[Desktop Entry]
Name=Poweroff
Exec=/home/eestrada/.dotfile_misc/bin/simple_poweroff.sh --ask
Terminal=false
Type=Application
Icon=system-shutdown-symbolic
Comment=Power off system
Categories=System;
