[Desktop Entry]
Name=Reboot
Exec=/home/eestrada/.dotfile_misc/bin/simple_reboot.sh --ask
Terminal=false
Type=Application
Icon=system-reboot-symbolic
Comment=Reboot system
Categories=System;
